input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.cart_quantity_button{
 width: 125px;
 text-align: center;
  
} 

 
 .cart_quantity_button a {
   background: #f0f0e9;
   display: inline-block;
   height: 37px;
   overflow: hidden;
   width: 25px;
   line-height: 37px;
   text-decoration: none;
 }
 .cart_quantity_button a:hover {
  background: #8f8f8f;
 }
 .cart_quantity_button a,
.cart_quantity_input {
  color: #696763;
  font-size: 14px;
  width: 40px;
  text-align: center;
  float: left;
}
.cart_quantity_input {
  font-family: Roboto, sans-serif;
}