<p>ql-khachhang works!</p>
<div class="breadcrumb">
    <span><a href="../index.html">Home</a></span><span> / </span><span>Manager</span><span> / </span><span>Quản lý User</span>
</div>
<div class="section">
<table id="table-user">
    <thead>
        <tr>
            <th>STT</th>
            <th>Họ Tên</th>
            <th>Địa Chỉ</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>
</div>
<div class="footer">
<div>Powered by <a href="../index.html"> World Phone</a></div>
</div>
