<div class="main fix">
<div class="breadcrumb">
    <span><a href="../index.html">Home</a></span><span> / </span><span>Manager</span><span> / </span><span>Quản lý User</span>
</div>
<div class="section">
    <div id="search">
        <form action="" method="get">
            <input type="text" name="key" value=""[(ngModel)]="searchText" placeholder="Nhập khách hàng cần tìm" />     
            <button type="submit" name="xem" value="search" >Tìm kiếm</button>
        </form>
    </div>
<table id="table-user">
    <thead>
        <tr>
            <th>STT</th>
            <th>Họ Tên</th>
            <th>Địa Chỉ</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>Thời gian tạo</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users|filter : searchText| paginate:{itemsPerPage:8,currentPage:p};let i=index">
            <td>{{i+1}}</td>
            <td>{{user.firstname+user.lastname}}</td>
            <td>{{user.address}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.gmail}}</td>
            <td>{{ days }} ngày trước</td>
            <td><span *ngIf="user.state=='1'">Đang hoạt động</span><span *ngIf="user.state=='0'">Khóa</span></td>
            <td><button type ="button" class="btn-table" (click)="deleteUserDetail(user)"><fa-icon [icon]="faTrash"></fa-icon></button>
                <button type="button" class="btn-table" *ngIf="user.state==1"(click)="blockUser(user)"><fa-icon [icon]="faLock"></fa-icon></button>
                <button type="button" class="btn-table" *ngIf="user.state==0" (click)="blockUser(user)"><fa-icon [icon]="faUnLock"></fa-icon></button>
            </td>
        </tr>    
    </tbody>
</table>
</div>
</div>
