.usermenu2{
    display: inline-block;
    text-decoration: none;
}
.usermenu2 li{
    float: left;
    margin-left: 6px!important;
    text-decoration: none;
}
.usermenu2 li a{
    text-decoration: none;
    color: white;
}
.search-submit {
    float: left;
    width: 32px!important;
    height: 32px!important;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
}