<div class="main">



<div class="breadcrumb">
    <span><a href="../index.html">Home</a></span><span> / </span><span>Manager</span><span> / </span><span>Quản lý danh mục</span>
</div>
<div class="section">
    <div class="them-sp" onclick="popup_themsp()"><button>Thêm Danh Mục</button></div>
    <table id="table-dm">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên Danh Mục</th>
                <th>Trạng Thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories;let i=index">
                <td>{{i+1}}</td>
                <td>{{category.tenloai}}</td>
                <td ><span *ngIf="category.trangthai=='1'">Đang hoạt động</span><span *ngIf="category.trangthai=='0'">Ẩn</span></td>
                <td>
                    <button type="button" class="btn btn-primary">Sửa</button>
                    <button type="button" class="btn btn-primary">Xóa</button>
                    <button type="button" class="btn btn-primary" *ngIf="category.trangthai=='1'">Hiện</button>
                    <button type="button" class="btn btn-primary"*ngIf=" category.trangthai=='0'">Ẩn</button>
                </td>
            </tr>    
        </tbody>
</table>
</div>

<!-- popup thêm sp -->
<form *ngIf="!isToggle">
    <div class="popup-themsp">
        <div class="popup-suadm__content">
            <div class="popup-themsp__title">Thêm Danh Mục</div>
            <div class="popup-themsp-left">
                <div class="popup-themsp-left__label">Nhập Thứ tự</div>
                <div class="popup-themsp-left__label">Nhập Tên</div>
            </div>
            <div class="popup-themsp-right">
                <div class="popup-themsp-left__input"><input class="them-thu-tu" type="text" placeholder="Thứ tự danh mục" name = "id"></div>
                <div class="popup-themsp-left__input"><input class="them-ten" type="text" placeholder="Tên danh mục" name = "tendm"></div>
            </div>
            <button type = "submit" name = "clickthemdm" class="popup-themsp__btn" onclick="alert('Thêm thành công')">Thêm</button>
            <span class="back" onclick="close_popup_themsp()">&times;</span>
        </div>
    </div>
</form>
<!-- popup sửa sp -->
<form *ngIf="!isToggle2">
    <div class="popup-suasp">
        <div class="popup-suadm__content">
            <div class="popup-themsp__title">Sửa Danh Mục</div>
            <div class="popup-themsp-left">
                <div class="popup-themsp-left__label" >Thứ tự</div>
                <div class="popup-themsp-left__label" >Tên</div>
            </div>
            <div class="popup-themsp-right" id ="">
                
                <div class="popup-themsp-left__input"><input class="them-thu-tu" type="text" placeholder="Thứ tự danh mục" name = "ids" id = "iddms" readonly></div>
                <div class="popup-themsp-left__input"><input class="them-ten" type="text" placeholder="Tên danh mục" name = "tendms" id = "tendms" ></div>
            </div>
            <button type ="submit" class="popup-suasp__btn" name = "clicksuadm" onclick="">Sửa</button>
            <span class="back" onclick="close_popup_suasp()">&times;</span>
        </div>
    </div>
</form>
</div>