.main{
	margin-top: 20px;
	margin-left: 200px;
	background: #E4E5E6;
	min-height: 100vh;
	padding-bottom: 30px;
}
#search{
	margin-top: 20px;
	margin-left: 100px;
	padding-left:100px;
	text-align: center;
	width: 700px;height: 30px;text-align: center;margin-left: 150px;
}
.containersearch{
	margin-top: 10px;
	width: 70px;
}
.right{
	float: right;
	height: 40px;margin-bottom: 10px;margin-right: 30px;background-color:white;border: 2px solid darkgrey;
            border-radius: 8px;
}