<div class="main">

<div class="breadcrumb">
    <span><a href="../index.html">Home</a></span><span> / </span><span>Manager</span><span> / </span><span>Quản lý sản phẩm</span>
</div>
<div class="section">
    <div class="them-sp"><button (click)="popup_themsp()">Thêm Sản Phẩm</button></div>
    <table id="table-sp">
        <thead>
            <tr>
                <th>Mã SP</th>
                <th>Hình</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Loại</th>
                <th>Trạng Thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
                <td>{{product.productID}}</td>
                <td><img src="../../../../../assets/images/banner-small-01.png" width="110px"></td>
                <td>{{product.productName}}</td>
                <td>{{product.price|currency:'VND':'symbol':'3.0'}}</td>
                <td>{{product.category.tenloai}}</td>
                	<td data-sortable="true" *ngIf="product.state=='1'">
                          Đang hoạt động
                  </td>
                  <td data-sortable="true" *ngIf="product.state=='0'">
                          Tạm ẩn
                  </td>
                
               <td >
                  <button type="button"   class="btn btn-success"[product]="selectedProduct"
                 (click)="popup_updateProduct();displayProduct(product)">Sửa</button>									
		        <button type="button"   class="btn btn-success" [product]="selectedProduct"(click)="deleteProduct(product)">Xóa</button>
         <button [product]="selectedProduct"
         (click)="statusProduct(product)"><span *ngIf="product.state=='0'">Bật</span><span *ngIf="product.state=='1'">Tắt</span></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                    </ul>
                </nav>
            </div>
    </div>
<!-- popup thêm sp -->
<form [formGroup]="addForm" *ngIf="!isToggle">
    <div class="popup-themsp">
        <div class="popup-themsp__content" >
            <div class="popup-themsp__title">Thêm Sản Phẩm</div>
            <div class="popup-themsp-left">
                <div class="popup-themsp-left__label">Nhập Tên</div>
                <div class="popup-themsp-left__label">Nhập Giá</div>
                <div class="popup-themsp-left__label">Nhập giảm giá</div>
                <div class="popup-themsp-left__label">Chọn Hình</div>
                <div class="popup-themsp-left__label">Chọn Loại</div>
                <div class="popup-themsp-left__label">Ngày Bắt đầu</div>
                <div class="popup-themsp-left__label">Ngày Kết thúc</div>
                <div class="popup-themsp-left__label">Mô tả</div>
            </div>
            <div class="popup-themsp-right">
                <div class="popup-themsp-left__input" ><input type="text" placeholder="Tên sản phẩm" name ="ten" id="AProductName" class="form-control" formControlName="AProductName" ></div>
                <div class="popup-themsp-left__input"><input type="text" placeholder="Giá sản phẩm" name = "gia" id="AProductPrice" class="form-control" formControlName="AProductPrice" ></div>
                <div class="popup-themsp-left__input"><input type="text" placeholder="Phần trăm giảm" name = "discount" id="AProductDiscount" class="form-control" formControlName="AProductDiscount" ></div>
                <div class="popup-themsp-left__input" ><input type="file" name="hinhanh"  type="file" id="AProductImage" accept="image/png,image/jpg"  (change)="onFileChanged($event)" class="form-control" formControlName="AProductImage"></div>
                <div class="popup-themsp-left__input" ><select name="dropdown" (change)="selectedLoaiSp($event)">
                <option *ngFor="let category of categories" [value]="category.cateID">{{category.tenloai}}</option>
                </select>
            </div>
            <div class="popup-themsp-left__input" ><dp-date-picker  [config]="datePickerConfig" placeholder="Enter date" id="AProductFromDate" class="form-control" formControlName="AProductFromDate" (change)="validatorsChanged($event)">  
                                </dp-date-picker></div>
            <div class="popup-themsp-left__input" ><dp-date-picker  [config]="datePickerConfig" placeholder="Enter date"id="AProductToDate" class="form-control" formControlName="AProductToDate" (change)="validatorsChanged2($event)">  
                                </dp-date-picker></div>
            <div class="popup-themsp-left__input"><textarea name="mota" rows="5" cols="20" placeholder="Mô tả tại đây..."  id="AProductInfo" class="form-control" formControlName="AProductInfo"></textarea></div>
        </div>

        <button type ="button" class="popup-themsp__btn" name ="clickthem"(click)="addProduct()">Thêm</button>
        <div id = "imagePreviewt"><img [src]="imgURL" class="sua-hinh" width="110" *ngIf="imgURL" /></div>
        <span class="back" (click)="popup_themsp()">&times;</span>
    </div>
    </div>
    </form>
    <!-- popup sửa sp -->
<form [formGroup]="updateForm" *ngIf="!isToggle2">
    <div class="popup-suasp" id = "dodulieu" >
        <div class="popup-suasp__content">
            <div class="popup-themsp__title">Sửa Sản Phẩm</div>
           <div class="popup-themsp-left">
                <div class="popup-themsp-left__label"></div>
                <div class="popup-themsp-left__label">Nhập Tên</div>
                <div class="popup-themsp-left__label">Nhập Giá</div>
                <div class="popup-themsp-left__label">Nhập giảm giá</div>
                <div class="popup-themsp-left__label">Chọn Hình</div>
                <div class="popup-themsp-left__label">Chọn Loại</div>
                <div class="popup-themsp-left__label">Ngày Bắt đầu</div>
                <div class="popup-themsp-left__label">Ngày Kết thúc</div>
                <div class="popup-themsp-left__label">Mô tả</div>
            </div>
            <div class="popup-themsp-right">
            <div class="popup-themsp-left__input" ><input type="hidden" id="SProductID" class="form-control" formControlName="SProductID"></div>
                <div class="popup-themsp-left__input" ><input type="text" placeholder="Tên sản phẩm" name ="ten2" id="SProductName" class="form-control" formControlName="SProductName" ></div>
                <div class="popup-themsp-left__input"><input type="text" placeholder="Giá sản phẩm" name = "gia2" id="SProductPrice" class="form-control" formControlName="SProductPrice" ></div>
                <div class="popup-themsp-left__input"><input type="text" placeholder="Phần trăm giảm" name = "discount2" id="SProductDiscount" class="form-control" formControlName="SProductDiscount" ></div>
                <div class="popup-themsp-left__input" ><input type="file" name="hinhanh2"  type="file" id="SProductImage" accept="image/png,image/jpg"  (change)="onFileChanged2($event)" class="form-control" formControlName="SProductImage"></div>
                <div class="popup-themsp-left__input" ><select name="dropdown2" (change)="selectedLoaiSp2($event)" [selected] = "option===cateLoad.cateID"  [value]="option">
                <option *ngFor="let category of categories" [value]="category.cateID">{{category.tenloai}}</option>
                </select>
            </div>
            <div class="popup-themsp-left__input" ><dp-date-picker  [config]="datePickerConfig" placeholder="Enter date" id="SProductFromDate" class="form-control" formControlName="SProductFromDate">  
                                </dp-date-picker></div>
            <div class="popup-themsp-left__input" ><dp-date-picker  [config]="datePickerConfig" placeholder="Enter date"id="SProductToDate" class="form-control" formControlName="SProductToDate" >  
                                </dp-date-picker></div>
            <div class="popup-themsp-left__input"><textarea name="mota2" rows="5" cols="20" placeholder="Mô tả tại đây..."  id="SProductInfo" class="form-control" formControlName="SProductInfo"></textarea></div>
        </div>

        <button type ="button" class="popup-themsp__btn" name ="clickupdate"(click)="updateProduct()">Sửa</button>
        <div id = "imagePreviewt"><img [src]="imgURL2" class="sua-hinh" width="110" *ngIf="imgURL2" /></div>
        <span class="back" (click)="popup_updateProduct()">&times;</span>
        </div>
    </div>
</form>
</div>
