#table-sp{
	width: 96%;
	border-collapse: collapse;
	border: 1px solid #c8ced3;
	background: white;
	border-spacing: 2px;
	margin: 20px auto;
}

#table-sp thead tr{
	background: #E4E5E6;
	height: 40px;
	color: #5C6873;
	border-bottom: 2px solid #C8CED3;
}
#table-sp thead tr th{
	text-align: center;
}
#table-sp tbody td{
	height: 35px;
	border-bottom: 1px solid #C8CED3;
}
#table-sp tbody tr:hover{
	background: #F3F3F3;
	cursor: pointer;
}
#table-sp tbody td{
	text-align: center;
}
#table-sp tbody td:nth-child(2){
	padding: 10px; 
}
#table-sp tbody td:nth-child(3){
	width: 212px;
}
.xoa_sp,.sua_sp{
	height: 33px;
	width: 65px;
	background: white;
	color: gray;
	border: 1px solid #C8CED3;
	margin-bottom: 10px;
	transition: 0.3s;
}
.xoa_sp:hover,.sua_sp:hover{
	background: #2F353A ;
	border: 1px solid #2F353A;
	color: white;
}
#table-sp tbody td:first-child,th:first-child{
	/*width: 66px;*/
	text-align: center;
}
.them-sp{
	float: right;
	margin-right: 20px;
}
.them-sp button{
	background: white;
	border: 2px solid  #C8CED3;
	color: #2F353A;
	padding:10px;
	transition: 0.3s
}
.them-sp button:hover{
	background: #2F353A ;
	border: 2px solid #2F353A;
	color: white;
}
#search{
	margin-left: 30px;
	float: left;
}
#search form button{
	height: 30px;
	border: 2px solid darkgrey;
	background-color: white;
	margin-left: 10px;
    border-radius: 8px;
}
#search form input{
	width: 700px;
	height: 30px;
}
#search form button:hover{
	background: #2F353A ;
	border: 2px solid #2F353A;
	color: white;
}

