
.loginForm {
  padding: 30px 80px 80px 80px;
  position: relative;
  top: 25%;
  left: 50%;
  width: 400px;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10%;
}
.card-header{
  font-size: 45px;
  text-align: center;
  padding-bottom: 15px;
}
.card-body{
  font-size: 15px;
}
.text-muted{
  color: red;
}

