.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.loginForm {
  margin-bottom: 50px;
  padding: 30px 80px 80px 80px;
  text-align: center;
  width: 500px;
  height: auto;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}
.card-header{
  font-size: 45px;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.card-body{
  font-size: 15px;
  margin-bottom: 50px;
}
.text-muted{
  color: red;
}
