<div class="haiz">
  <div class="row loginForm">
    <div class="col-6 offset-3">
      <form id="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="">Email</label>
              <input type="email"  class="form-control" placeholder="example@gmail.com"
               ngModel email name="email" id="email" #email="ngModel" aria-describedby="emailHId"
               required minlength = "6">
              <small id="emailHId" *ngIf="!email?.valid && (email?.dirty || email?.touched)"
              class="text-muted">Email is invalid or empty</small>
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" ngModel name="password" id="password" #password="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
              class="form-control" placeholder="*********" aria-describedby="passwordHId" >
              <small  *ngIf="!password?.valid && (password?.dirty||password?.touched) " id="passwordHId"
              class="text-muted">Password is invalid or empty</small>
            </div>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-primary"> Login </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

