<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop | E-Shopper</title>
   <!-- <link href="../resources/css/prettyPhoto.css" rel="stylesheet">
    <link href="../resources/css/price-range.css" rel="stylesheet">-->
    <!--[if lt IE 9]>

    <![endif]-->       
  
</head><!--/head-->

<router-outlet></router-outlet>

