  <div class="left-menu">
        <a class="left-menu__item active" [routerLink]="['/admin/thongke']"><span id="speed-icon"></span>Thống kê</a>
        <a class="left-menu__item" [routerLink]="['/admin/sanpham']"><span class="icon" id="product-icon"></span>Quản lý sản phẩm</a>
        <a class="left-menu__item" [routerLink]="['/admin/account']"><span class="icon" id="danh-muc-icon"></span>Quản lý Tài Khoản</a>
        <a class="left-menu__item" [routerLink]="['/admin/khachhang']"><span class="icon" id="user-icon"></span>Quản lý khách hàng</a>
        <a class="left-menu__item" [routerLink]="['/admin/donhang']"><span class="icon" id="don-hang-icon"></span>Quản lý đơn hàng</a>
        <a class="left-menu__item" [routerLink]="['/admin/danhmuc']"><span class="icon" id="danh-muc-icon"></span>Quản lý danh mục</a>
        <div class="copyright">&copy Nova Phone 2019</div>
    </div>
