<p>thongke works!</p>
<div class="breadcrumb">
    <span><a href="#">Home</a></span>
    <span> / </span><span>Manager</span><span> / </span><span>Thống kê</span>
</div>
<div class="chart chart-bgred">
    <div class="chart__label">Người Truy Cập</div>
    <div class="chart__img chart__img-img1"></div>
 </div>
<div class="chart chart-bgblue">
    <div class="chart__label">Sản Phẩm Đã Bán</div>
    <div class="chart__img chart__img-img2"></div>
</div>
<div class="chart chart-bgbluewhite">
    <div class="chart__label">Khách Hàng</div>
    <div class="chart__img chart__img-img3"></div>
</div>
<div class="chart chart-bgyellow">
    <div class="chart__label">Doanh Thu</div>
    <div class="chart__img chart__img-img4"></div>
</div>
<div class="section">
    <div class="top-user__header">TOP USER</div>
    <table id="top-user__table">
        <thead>
            
            <tr>
                <th>Top</th>
                <th>Họ Tên</th>
                <th>SĐT</th>
                <th>Tổng Sản Phẩm Đã Mua</th>
                <th>Tổng Giá Trị</th>     
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<a href="index.php?xem=sanpham&id=1">
    <div class="thong-ke">
        <div class="thong-ke__title">Tổng Sản Phẩm</div>
        <div class="thong-ke__img img1"></div>
    </div>
</a>
<a href="index.php?xem=khachhang&id=1">
    <div class="thong-ke">
        <div class="thong-ke__title">Khách Hàng</div>
        <div class="thong-ke__img img2"></div>
    </div>
</a>
<a href="index.php?xem=donhang&id=1">
    <div class="thong-ke">
        <div class="thong-ke__title">Đơn Hàng</div>
        <div class="thong-ke__img img3"></div>
    </div>
</a>
<a href="index.php?xem=danhmuc&id=1">
    <div class="thong-ke"></div>
        <div class="thong-ke__title">Danh Mục SP</div>
        <div class="thong-ke__img img4"></div>
    </div>
</a>
</div>
