<div class="main">



   
    <div class="section">
      <div class="breadcrumb">
        <span><a href="../index.html">Home</a></span><span> / </span><span>Manager</span><span> / </span><span>Quản lý danh mục</span>
    </div>
        <div id="search">
            <form action="" method="get">
                <input type="text" name="key" [(ngModel)]="searchText" value="" placeholder="Nhập Sản phẩm cần tìm" />  
                <button type="submit" name="xem" value="search" >Tìm kiếm</button>
            </form>
        </div>
        <table id="table-dm">
            <thead>
                <tr>
                  <th>Mã sản phẩm</th>
                    <th>
                      Hình ảnh
                    </th>
                    <th>
                      Tên
                    </th>
                    <th>
                      Quantity
                    </th>
            
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventory of inventories| filter : searchText| paginate:{itemsPerPage:10,currentPage:p}">
                  <td>{{inventory.product.productID}}</td>
                    <td *ngFor="let img of inventory.product.images.slice(0,1)">
                      <img src="../../../../../assets/images/products/{{img}}" alt="" width="110px" height="110px">
                    </td>
                    <td>        
                      {{inventory.product.productName}}
                    </td>
                    <td>
                        <div class="cart_quantity_button">
                        <input  type="number"value="{{inventory.quantity}}" (change)="onChange($event,inventory)" name="quantity" autocomplete="on" size="2" class="cart_quantity_input" >
                      </div>
                    </td>
                  </tr>
            </tbody>
    </table>
    <pagination-controls *ngIf="inventories.length > 0" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>    

