<div class="main">



    <div class="breadcrumb">
        <span><a href="../index.html">Home</a></span><span> / </span><span>Manager</span><span> / </span><span>Quản lý danh mục</span>
    </div>
    <div class="section">
        <div id="search">
            <form action="" method="get">
                <input type="text" name="key" value="" placeholder="Nhập danh mục cần tìm" />  
                <button type="submit" name="xem" value="search" >Tìm kiếm</button>
            </form>
        </div>
        <div class="them-sp" ><button>Thêm Danh Mục</button></div>
        <table id="table-dm">
            <thead>
                <tr>
                    <th>
                      Hình ảnh
                    </th>
                    <th>
                      Tên
                    </th>
                    <th>
                      Quantity
                    </th>
            
                  </tr>
            </thead>
            <tbody>
                <tr >
                    <td >
                      <img src="../../../../../assets/images/banner-small-01.png" alt="">
                    </td>
                    <td>        
                          <p>Name</p>
                    </td>
                    <td>
                        <div class="cart_quantity_button">
                        <input  type="number"value="0"  name="quantity" autocomplete="on" size="2" class="cart_quantity_input" >
                      </div>
                    </td>
                  </tr>
            </tbody>
    </table>
    </div>
</div>    

