<p>login-admin works!</p>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="dangnhap/images/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" method="POST">
                <span class="login100-form-title">
                    Login Form
                </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="taikhoan" placeholder="Username" data-validate = "Username is required">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <select class="input100" name ="dropdown">
                        <option value = "1">Chọn phân quyền</option>
                        <option value ="Admin">Admin</option>
                        <option value ="Manager">Manager</option>
                </select>
                <div class="container-login100-form-btn">
                    
                    <button class="login100-form-btn" name = "click">
                        Login
                    </button>  
                </div>
            </form>
        </div>
    </div>
</div>